/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

p, a {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #9297C4;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #7acaff;
    min-height: 6vh;
}

.list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    margin: 0 15px;
}

.nav-home {
    flex-grow: 2;
}

.nav-links {
    flex-grow: 1;
}