.grid {
    display: grid;
    grid-template-areas: 
        "img text btn";
    grid-template-rows: auto;
    grid-row-gap: 1em;
    width: 80%;
    margin: 0 auto;
    padding-top: 8vh;
}

.image {
    width: 100%;
    border-radius: 100px;
    justify-self: end;
    align-self: center;
    grid-area: img;
    grid-row: span 2;
}

.name, .price {
    grid-area: text;
    justify-self: start;
    padding-left: 15px;
    font-size: 1.2em;
    grid-row: span 1;
}
.price {
    align-self: start;
}

.removebutton {
    background-color: #ff0000;
    color: #ffffffff;
    border-radius: 50px;
    width: 35px;
    height: 35px;
}

@media (min-width: 400px) {
    .grid {
        width: 65%;
        grid-template-columns: 1fr 3fr;
    }
}

@media (min-width: 600px) {
    .grid {
        width: 55%;
        grid-template-columns: 1fr 3fr;
    }
    .name, .price {
        font-size: 1.5em;
    }
}