.grid {
    display: grid;
    grid-template-areas: "img text removebtn";
    grid-row-gap: 1em;
    width: 80%;
    margin: 0 auto;
    padding-top: 8vh;
}

.image {
    width: 100%;
    border-radius: 100px;
    justify-self: end;
    align-self: center;
    grid-area: img;
    grid-row: span 2;
}

.name, .price {
    grid-area: text;
    justify-self: start;
    padding-left: 15px;
    font-size: 1.2em;
    grid-row: span 1;
}
.price {
    align-self: start;
}

.removeform {
    grid-row: span 2;
    justify-self: end;
    align-self: start;
}
.removebutton {
    background-color: #cf3e3e;
    color: #ffffffff;
    border: 2px solid #d06464;
    border-radius: 50px;
    width: 35px;
    height: 35px;
}

.orderform {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.orderform p {
    margin: 10px 0;
    text-align: end;
}

.orderform .input {
    -moz-box-sizing: content-box; /* or `border-box` */
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 2px solid #ccc;
    display: block;
    line-height: 20px;
    margin: 10px 0;
    min-width: 200px;
    padding: 0;
}

.orderform .label {
    padding-right: 160px;
}

.total {
    grid-column: span 3;
    font-size: 2em;
    text-align: end;
}

.hide {
    display: none;
}

@media (min-width: 400px) {
    .grid {
        width: 65%;
        grid-template-columns: 1fr 3fr 1fr;
    }
}

@media (min-width: 600px) {
    .grid {
        width: 55%;
        grid-template-columns: 1fr 3fr 1fr;
    }
    .name, .price {
        font-size: 1.5em;
    }
}