.grid {
    padding-top: 10vh;
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "img" "text" "comtitle" "comment" "form";
}

.image {
    display: block;
    grid-area: img;
    width: 100%;
}

.productdesc {
    text-align: left;
    grid-area: text;
}

.productdesc .form {
    text-align: right;
}

.desc {
    margin: 10px 0;
    font-size: 1.2em;
}

.title {
    margin: 10px 0;
    font-size: 1.75em;
}

.commenttitle {
    grid-area: comtitle;
    margin: 10px 0;
    font-size: 1.75em;
}

.form {
    grid-area: form;
}

.commentsconteiner {
    grid-area: comment;
    width: 100%;
}

.comment {
    width: 100%;
    padding: 25px 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
}

.title {
    margin: 10px 0;
    font-size: 1.4em;
    font-weight: bold;
}

.text {
    margin: 10px 0;
    font-size: 1.2em;
    display: inline;
}

.inputcomment {
    padding-bottom: 100px;
}

.pushtoend {
    display: flex;
    justify-content: flex-end;
}

.addcbtn {
    margin-bottom: 30px;
}

.input[type=submit] {
    color: #fff;
    padding: 5px 10px;
    border: 2px solid #102094;
    background-color: #1428BE;
    border-radius: 5px;
    transition: transform 200ms ease-in-out, background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.input[type=submit]:hover {
    transform: scale(1.05);
    color: #000000;
    border: 2px solid #051487;
    background-color: #6f7eea;
    border-radius: 5px;
}

@media (min-width: 750px) {
    .grid {
        grid-template-areas: "img text" "comtitle comtitle" "comment comment" "form form";
        grid-gap: 1rem;
    }

    .image {
        width: 300px;
        height: 300px;
    }
}