h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

div, p, a, input, li, input, label, strong {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}

body, html {
    margin: 0;
    height: 100%;
}

.content {
    min-height: 100%;
}

.insidecontent {
    padding-bottom: 50px;
}

.navigation {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, .1);
    min-height: 6vh;
    width: 100%;
}

.flex {
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-content: center;
}

.navlink {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    text-align: center;
    padding: 10px 15px;
}

.navhome {
    height: 100%;
    flex-grow: 2;
}

.navlinks {
    height: 100%;
    flex-grow: 1;
}

.burger {
    background-image: url(../images/027-tasks.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    cursor: pointer;
    padding: 12px 5px;
    margin: 0 10px;
    z-index: 2;
}

.hidden { /* menu is hidden */
    position: absolute;
    height: 100vh;
    width: 100%;
    top: -100vh;
    left: 0;
    z-index: 1;
    background-color: #e0ffd1;
    transition: top 300ms ease-in-out;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: ". . . . burger" ". contacts about cart ." ". contactstext abouttext carttext .";
}

.menu { /* menu is shown */
    top: 0;
}

.about img, .contacts img, .cart img {
    width: 100%;
    margin: 0 auto;
}

.about, .contacts, .cart {
    display: block;
    width: 50%;
    align-self: end;
    justify-self: center;
}

.about {
    grid-area: about;
}

.contacts {
    grid-area: contacts;
}

.cart {
    grid-area: cart;
}

.abouttext, .contactstext, .carttext {
    align-self: start;
    font-weight: bold;
    width: 100%;
    padding: 15px 0;
    color: #ff5cf0;
}

.abouttext {
    grid-area: abouttext;
}

.contactstext {
    grid-area: contactstext;
}

.carttext {
    grid-area: carttext;
}

.gotocart {
    background-image: url(/images/101-interest.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

footer {
    height: 50px;
    margin-top: -50px;
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}

footer a, footer p {
    align-self: center;
    justify-self: center;
    color: #ffffff;
}

.input[type=submit] {
    color: #fff;
    padding: 5px 10px;
    border: 2px solid #102094;
    background-color: #1428BE;
    border-radius: 5px;
    transition: transform 200ms ease-in-out, background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.input[type=submit]:hover {
    transform: scale(1.05);
    color: #000000;
    border: 2px solid #051487;
    background-color: #6f7eea;
    border-radius: 5px;
}