<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pellio</title>
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="">
            <div class="navigation">
                <div class="navhome">
                    <a class="navlink" asp-area="" asp-controller="Home" asp-action="Index">Pellio</a>
                </div>
                <div nav="navlinks">
                    <ul class="list">
                        <li class="">
                            <a class="navlink" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="">
                            <a class="navlink" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                        </li>
                        <li class="">
                            <a class="navlink" asp-area="" asp-controller="Comments" asp-action="Index">Comments</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <div class="">
            &copy; 2020 - Pellio - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>