<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pellio</title>
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="">
            <div class="navigation">
                <div class="navhome">
                    <a class="navlink" asp-area="" asp-controller="Products" asp-action="Index">Pellio</a>
                </div>
                <div nav="navlinks">
                    <ul class="flex">
                        <li class="cartli">
                            <a class="navlink" asp-area="" asp-controller="OrdersLists" asp-action="Index">Кошница</a>
                            <a class="navlink gotocart" asp-area="" asp-controller="OrdersLists" asp-action="Index"></a>
                        </li>
                        <li id="burger" class="burger">
                        </li>
                    </ul>
                </div>
                <div id="menu" class="hidden">
                    <a class="navlink about" asp-area="" asp-controller="Home" asp-action="About">
                        <img src="~/images/095-browser.png" alt="About" class="" />
                    </a>
                    <a class="navlink abouttext" asp-area="" asp-controller="Home" asp-action="About">About</a>
                    <a class="navlink contacts" asp-area="" asp-controller="Home" asp-action="Contacts">
                        <img src="~/images/010-email.png" alt="Contacts" class="">
                    </a>
                    <a class="navlink contactstext" asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a>
                    <a class="navlink cart" asp-area="" asp-controller="OrdersLists" asp-action="Index">
                        <img src="~/images/101-interest.png" alt="Cart" class="">
                    </a>
                    <a class="navlink carttext" asp-area="" asp-controller="OrdersLists" asp-action="Index">Cart</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <div class="">
            &copy; 2020 - Pellio - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>