
<link rel="stylesheet" href="~/css/about.css" />

<div class="center">
    <h1 class="title">Автори на проекта:</h1>
    <p>Божидар Атанасов</p>
    <p>Дамян Атанасов</p>
    <p>Ивайло Христов</p>
</div>