<link rel="stylesheet" href="~/css/contacts.css" />

<div class="banner">
    <div class="hold">
        <h2>
            Контакти
        </h2>
        <p class="">Достъпни сме от 8 до 22 часа</p>
        <a class="" href="#items">Свържете се с нас</a>
    </div>
</div>

<div id="items"></div>

<div class="column">
    <div class="contacts">
        <h3>
            Връзка с нас по поща
        </h3>
        <p>
            За нас във Pellio, връзката с нашите клиенти е изключително важна. Каква е любимата ти храна? Предпочиташ китайско или пък пица? Обичаш пържолата си по-сурова или по-добре изпечена? Сподели ни какво харесваш!
        </p>

        <a class="special" href="mailto:contact@Pellio.bg">contact@Pellio.bg</a>
        <br>

        <h3>
            Връзка с нас по телефон
        </h3>

        <p>
            Имате проблем с поръчаната храна от платформата на Pellio? Или просто искате да уточните нещо специално по приготвянето на ястията? Тогава свържете се с нас на <span class="special">087 123 1234</span>!
        </p>
    </div>
</div>