
<link rel="stylesheet" href="~/css/contacts.css" />

<div class="column">
    <div class="contacts">
        <h3>
            Контакти
        </h3>

        <p>
            За нас във Pellio, връзката с нашите клиенти е изключително важна. Каква е любимата ти храна? Предпочиташ китайско или пък пица? Обичаш пържолата си по-сурова или по-добре изпечена? Сподели ни какво харесваш!
        </p>

        <a href="mailto:contact@Pellio.bg">contact@Pellio.bg</a>
        <br>

        <h3>
            Връзка с отдел клиенти
        </h3>

        <p>
            Имате проблем с поръчаната храна от платформата на Pellio? Или просто искате да уточните нещо специално по приготвянето на ястията? Тогава свържете се с нас на 087 123 1234!
        </p>
    </div>
</div>