
<link rel="stylesheet" href="~/css/contacts.css" />

<div class="column">
    <div class="questions">
        <h3>
            Често задавани въпроси
        </h3>
        <h4>
            Топ въпроси
        </h4>
        <!-- first section of questions -->
        <strong>Къде е поръчката ми?</strong>
        <p>
            След като направиш своята поръчка, ние я изпращаме към ресторанта и той веднага започва да я приготвя.
            <br>
            <br>
            Ние правим всичко възможно, за да доставим храната ти колкото може по-бързо. Понякога ресторантът ни обработва огромен брой поръчки или шофьорите попадат в задръстване, поради тежък трафик - за съжаление това може да забави поръчката ти.
            <br>
            <br>
            Ако чакаш повече от очакваното време за доставка, можеш да свържеш с доставчика на номера, който ви изпратихме по пощата ви или с нас на 087 123 1234.
        </p>
        <hr>
        <strong>Имам ваучер код. Как да го използвам?</strong>
        <p>
            Ако имаш код за отстъпка, можеш да се възползваш от него по време на поръчката като го дабавиш в предназначеното за него поле в дясно. Ако той е валиден, отстъпката веднага ще се изчисли в поръчката ти. В поръчката може да се използва само един ваучер
            <br>
            <br>
            Ако ваучерът ти не работи, свържи се с нас, за да проверим каква е причината.
        </p>
        <hr>
        <h4>
            Поръчване
        </h4>
        <!-- second section of questions -->
        <strong>Трябва да откажа или да променя поръчката си! Как мога да го направя?</strong>
        <p>
            Обади ни се възможно по-бързо на 087 123 1234, за да уведомим хората в ресторанта ни преди да започнат да обработват поръчката ти.
        </p>
        <hr>
        <strong>Колко време ще отнеме доставянето на поръчката ми?</strong>
        <p>
            Доставките при нас са до 30 минути максимум, но в случай на възможно забавяне вие ще бъдете информирани преди да завършите поръчката си!
        </p>
        <hr>
        <strong>Колко струва доставката?</strong>
        <p>
            Тъй като доставяме само в Плевен всички поръчки при нас са с безплатна доставка!
        </p>
        <hr>
        <strong>Как мога да платя поръчката си?</strong>
        <p>
            Плащане в брой при доставка. Даваш парите на доставчикът, и си получаваш храната.<br>
        </p>
        <hr>
        <strong>Защо да поръчам онлайн е по-добре, от колкото по телефона?</strong>
        <p>
            Онлайн поръчването във Pellio ти осигурява няколко предимства:
            <br>
            <br>
            1. Богат избор от храни: <br>Когато всичко е на едно пред вас вие може да поръчате точно каквото желаете в момента вместо само това за което се сетите по телефона.<br><br>
            2. Не бързай : <br>Имаш време да разгледаш и да избереш какво ще хапваш днес, вместо да слушаш по телефона как някой ти чете менюто продукт по продукт.<br><br>
            3. Знаеш какво получаваш : <br>Помагаме ти да направиш правилния избор като ти предоставяме мнения за всекя една храна която предлагаме.<br><br>
            4. Можеш да видиш детайли всичко в менюто ни от съставки и коментари до актулна снимка на това което поръчваш.
        </p>
        <hr>
        <h4>
            Как работи
        </h4>
        <!-- third section of questions -->
        <strong>Какво е Pellio?</strong>
        <p>
            Pellio е платформа за поръчване на храна онлайн и сайт, който свързва потребителите си с нашия ресторант.
            <br>
            <br>
            Във Pellio ние вярваме, че поръчването на храна онлайн трябва да бъде лесно и без напрежение.С няколко клика можеш да поръчаш от огромното разнообразие на различни типове кухня онлайн. Pellio ти осигурява голям избор от храни на достъпни цени.
        </p>
        <hr>
        <strong>Какво е работното ви време?</strong>
        <p>
            Pellio работи от 9ч. до 23ч. от понеделник до неделя.
        </p>
        <hr>
        <strong>Защо получавам съобщение, че ресторантът не доставя до мен?</strong>
        <p>
            До момента доставяме само в Плевен, и ако умната ни система предположи, че адреса ви е извън града ще ви уведоми! Ако има проблем и адресъв ви не е извън Плевен можете да се свържете с нас на 087 123 1234 или да ни пишете по пощата.
        </p>
        <hr>
        <h4>
            Моят "профил""
        </h4>
        <!-- fourth section of questions -->
        <strong>Как се запазва информацията ми във Pellio без да имам профил?</strong>
        <p>
            Благодарение на "бисквитките" които вие приехте, информацията която въвеждате се запазва в браузъра ви преди да бъде изпратена за доставка.
            <br>
            Ето и няколко предимства на използването на "бисквитки":
            <br>
            1. Адресът ти за доставка ще бъде запаметен и няма да се налага всеки път да попълваш отново и отново локацията си.
            <br>
            2. Можеш да виждаш предишните си поръчки.
            <br>
            3. Можеш бързо да правиш поръчките си отново.
            <br>
            <br>
            Има много други предимства, от които можеш да се възползваш само натискайки бутона за приемане на бисквитките!
        </p>
    </div>
</div>